<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <title>媒体查询</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <script src="node_modules/html5shiv/dist/html5shiv.min.js"></script>
    <script src="node_modules/respond/respond.min.js"></script>
</head>
<style>
    /*.container{*/
        /*height: 1000px;*/
    /*}*/
    /*.row,.col-1,.col-2{*/
        /*height: 100px;*/
        /*background: aquamarine;*/
    /*}*/
    /*.col-1{*/
        /*background: aliceblue;*/
    /*}*/
    /*.col-2{*/
        /*background: aquamarine;*/
    /*}*/
    /*.col-9{*/
        /*background: azure;*/
    /*}*/
    /*.row > div{*/
        /*border: 1px solid aliceblue;*/
    /*}*/
    /*@media screen and (max-width: 768px) and (min-width: 320px) {*/
        /*.container{*/
            /*width: 100%;*/
            /*background: pink;*/
        /*}*/
    /*}*/
    /*@media screen and (max-width: 992px) and (min-width: 768px){*/
        /*.container{*/
            /*width: 750px;*/
            /*background: blue;*/
            /*margin: 0 auto;*/
        /*}*/
    /*}*/
    /*@media screen and (max-width: 1200px) and (min-width: 992px){*/
        /*.container{*/
            /*width: 970px;*/
            /*background: #0b2e13;*/
            /*margin: 0 auto;*/
        /*}*/
    /*}*/
    /*@media screen and (min-width: 1200px){*/
        /*.container{*/
            /*width: 1170px;*/
            /*background: #0f6674;*/
            /*margin: 0 auto;*/
        /*}*/
    /*}*/
</style>
<body>
    <!--顶部通栏-->
    <header class="topbar hidden-sm hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="#" class="app">
                        <span class="xyicon xyicon-phone"></span>
                        <span>手机微金所</span>
                        <span class="glyphicon glyphicon-menu-down"></span>
                        <img src="images/code.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <span class="xyicon xyicon-tel"></span>
                    <span> 4006-89-4006 (服务时间：9:00-21:00)</span>
                </div>
                <div class="col-md-2">
                    <a href="#">常见问题</a>
                    <a href="#">财富问题</a>
                </div>
                <div class="col-md-3">
                    <a href="#">免费注册</a>
                    <a href="#">登录</a>
                </div>
            </div>
        </div>
    </header>
    <!--导航栏-->
    <nav class="navbar xy-nav">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="xyicon xyicon-logo"></span>
                    <span class="xyicon xyicon-name"></span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">我要投资</a></li>
                    <li><a href="#">我要借贷</a></li>
                    <li><a href="#">平台介绍</a></li>
                    <li><a href="#">新手专区</a></li>
                    <li><a href="#">最新动态</a></li>
                    <li><a href="#">微平台</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm">
                    <li><a href="#">个人中心</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--轮播图-->
    <section class="xy-banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">

            </ol>
            <div class="carousel-inner" role="listbox">

            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </section>
    <!--信息-->
    <section class="xy-info hidden-xs">
        <div class="container">
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="media-left"><span class="xyicon xyicon-dollar"></span></div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="media-left"><span class="xyicon xyicon-dollar"></span></div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="media-left"><span class="xyicon xyicon-dollar"></span></div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="media-left"><span class="xyicon xyicon-dollar"></span></div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="media-left"><span class="xyicon xyicon-dollar"></span></div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="media-left"><span class="xyicon xyicon-dollar"></span></div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--预约-->
    <section class="order"></section>
    <!--产品-->
    <section class="product"></section>
    <!--新闻-->
    <section class="news"></section>
    <!--合作伙伴-->
    <section class="partner"></section>
    <script type="text/template" id="pointTemplate">
        <% for(var i=0; i<list.length; i++){ %>
        <li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="<%=i==0?'active':''%>"></li>
        <% } %>
    </script>
    <script type="text/template" id="imgTemplate">
        <% for(var i=0; i<list.length; i++){ %>
        <div class="item<%=i==0?' active':''%>">
            <% if(!isMobile){ %>
            <a href="#" class="pc-imgbox hidden-xs" style="background-image: url('<%=list[i].pcUrl%>')"></a>
            <% }else{ %>
            <a href="#" class="m-imgbox hidden-sm hidden-md hidden-lg"><img src="<%=list[i].mUrl%>" alt=""></a>
            <% } %>
        </div>
        <% } %>
    </script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/art-template/lib/template-web.js"></script>
    <script src="js/index.js"></script>
</body>
</html>
